<div class="input-group date">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-calendar"></i>
    </span>
    @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new { type = "text", @class = "form-control", @id = "datepicker" })
</div>
