@{
    ViewBag.Title = "About Retea Socializare MDS";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-3">1.Coloana de 6 pe mobile si de 3 pe desktop</div>
        <div class="col-xs-3 col-md-3">2.Coloana de 3 pe mobile si tot de 3 pe desktop</div>
        <div class="col-xs-6 col-md-6">3.Coloana de 6 pe mobile si tot de 6 pe desktop</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-3">1.Coloana de 6 pe mobile si de 3 pe desktop</div>
        <div class="col-xs-3 col-md-3">2.Coloana de 3 pe mobile si tot de 3 pe desktop</div>
        <div class="col-xs-6 col-md-6">3.Coloana de 6 pe mobile si tot de 6 pe desktop</div>
    </div>
</div>
