@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}




<div class="row">
    <div class="col-sm-4 ">

        <div class="container nav nav-stacked affix" style="padding-top: 10px">
            <div class=" row">
                <div class="col-lg-5 col-md-4 col-sm-8 col-xs-9 bhoechie-tab-container">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                        <div class="list-group">
                            <a href="#" class="list-group-item active text-center">
                                <h4 class="glyphicon glyphicon-envelope"></h4><br/>Inbox
                            </a>
                            <a href="#" class="list-group-item text-center">
                                <i class="fa fa-user" style="font-size: 30px;"></i><br/>Friend Requests
                            </a>
                            <a href="#" class="list-group-item text-center">
                                <h4 class="glyphicon glyphicon-home"></h4><br/>Home
                            </a>
                            <a href="#" class="list-group-item text-center">
                                <h4 class="glyphicon glyphicon-cutlery"></h4><br/>Something
                            </a>
                            <a href="#" class="list-group-item text-center">
                                <h4 class="glyphicon glyphicon-cog"></h4><br/>Settings
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                        <!-- inbox -->
                        <div class="bhoechie-tab-content active">
                            <center>
                                <h1 class="glyphicon glyphicon-envelope" style="font-size: 14em; color: #55518a"></h1>
                                <h2 style="margin-top: 0; color: #55518a">Cooming Soon</h2>
                                <h3 style="margin-top: 0; color: #55518a">Inbox</h3>
                            </center>
                        </div>
                        <!-- Friend Requests -->
                        <div class="bhoechie-tab-content" id="friendReqTab">
                            <center>
                                <h1 class="glyphicon glyphicon-road" style="font-size: 12em; color: #55518a"></h1>
                                <h2 style="margin-top: 0; color: #55518a">Cooming Soon</h2>
                                <h3 style="margin-top: 0; color: #55518a">Friend Requests</h3>
                            </center>
                        </div>

                        <!-- Games -->
                        <div class="bhoechie-tab-content" id="friendsTab">
                            <center>
                                <h1 class="glyphicon glyphicon-home" style="font-size: 12em; color: #55518a"></h1>
                                <h2 style="margin-top: 0; color: #55518a">Cooming Soon</h2>
                                <h3 style="margin-top: 0; color: #55518a">Your Friends</h3>
                            </center>
                        </div>
                        <div class="bhoechie-tab-content">
                            <center>
                                <h1 class="glyphicon glyphicon-cutlery" style="font-size: 12em; color: #55518a"></h1>
                                <h2 style="margin-top: 0; color: #55518a">Cooming Soon</h2>
                                <h3 style="margin-top: 0; color: #55518a">Restaurant Diirectory</h3>
                            </center>
                        </div>
                        <div class="bhoechie-tab-content">
                            <center>
                                <h1 class="glyphicon glyphicon-cog" style="font-size: 12em; color: #55518a"></h1>
                                <h2 style="margin-top: 0; color: #55518a">Cooming Soon</h2>
                                <h3 style="margin-top: 0; color: #55518a">Credit Card</h3>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-5">

        <div role="tabpanel">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#post" aria-controls="post" role="tab" data-toggle="tab">New post</a></li>
                <li role="presentation"><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">New photo</a></li>
                <li role="presentation"><a href="#file" aria-controls="file" role="tab" data-toggle="tab">New file</a></li>

            </ul>


            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="post">
                    @Html.Partial("AddPost")
                </div>
                <div role="tabpanel" class="tab-pane" id="photo">
                    Gigel poate e pe camp
                </div>
                <div role="tabpanel" class="tab-pane" id="file">
                    Gigel nu e pe camp
                </div>

            </div>

        </div>
        @*@Html.Partial("Post", Model, new ViewDataDictionary(ViewData)
        {
            TemplateInfo = new System.Web.Mvc.TemplateInfo
            {
                HtmlFieldPrefix = "Post"
            }
        })*@
        @Html.Action("Post", "Home")

    </div>

    <div class="col-sm-3" id="chatBoxes">
        
    </div>
</div>


@section Scripts{
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function() {
            $('#myTab a').click(function(e) {
                e.preventDefault()
                $(this).tab('show')
            })
        });
        $(document).ready(function() {
            $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
                e.preventDefault();

                //dezactivate the active class for the siblings of the new active button 
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active", 500, "easeInCubic");

                //dezactivate the active class for the siblings of the new active button 
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
            $("body").scroll(function() {
                var scrollPosition = $(this).scrollTop();
                console.log(scrollPosition);
            });

        });
        $(window).load(function () {
            var friendID = new Array();

            $.ajax({
                    url: "/Home/FriendRequests",
                    method: "POST"
                })
                .done(function(data) {

                    $("#friendReqTab").html("");
                    var elem = $("<ul/>", { "class": "list-group" });

                    $.each(data, function(key, value) {

                        var elemLista = $("<li/>", { "class": "list-group-item", "id": value["FutureFriendId"] });
                        elemLista.append("Nume: " + value["FirstName"] + " " + value["SecondName"]);
                        var buttonPlus = $("<button/>", {
                            "type": "button",
                            "class": "btn btn-success btn-xs",
                            "aria-label": "Left Align",
                            "id": value["FutureFriendId"]
                        });
                        var buttonMinus = $("<button/>", {
                            "type": "button",
                            "class": "btn btn-danger btn-xs",
                            "aria-label": "Left Align",
                            "id": value["FutureFriendId"]
                        });
                        var buttonToolbar = $("<div/>", { "class": "btn-toolbar pull-right" });
                        var buttonGroup = $("<div/>", { "class": "btn-group" });
                        var glyphPlus = $("<span/>", { "class": "glyphicon glyphicon-plus", "aria-hidden": true });
                        var glyphMinus = $("<span/>", { "class": "glyphicon glyphicon-minus", "aria-hidden": true });
                        buttonPlus.append(glyphPlus);
                        buttonMinus.append(glyphMinus);
                        buttonGroup.append(buttonPlus).append(buttonMinus);
                        buttonToolbar.append(buttonGroup);
                        elemLista.append(buttonToolbar);


                        elem.append(elemLista);


                    });

                    $("#friendReqTab").append(elem);

                    $("#friendReqTab").on("click", ".btn-success", function() {
                        console.log($(this).attr("id"));
                        var id = $(this).attr("id");
                        $.ajax({
                            url: "/Home/AcceptFriendRequest",
                            method: "POST",
                            data: {
                                "friendId": $(this).attr("id")
                            }
                        }).done(function(data) {
                            console.log("aici");
                            $("li[id=" + id + "]").fadeOut(500, function() {
                                $("li[id=" + id + "]").remove();
                            });
                        });
                    });
                    $("#friendReqTab").on("click", ".btn-danger", function() {
                        console.log($(this).attr("id"));
                        var id = $(this).attr("id");
                        $.ajax({
                            url: "/Home/RemoveFriendRequest",
                            method: "POST",
                            data: {
                                "friendId": $(this).attr("id")
                            }
                        }).done(function(data) {

                            $("li[id=" + id + "]").fadeOut(500, function() {
                                $("li[id=" + id + "]").remove();
                            });
                        });
                    });


                })
                .fail(function() {
                    console.log("fail pt ajax method");
                });

            
            
            var chat = $.connection.chatHub;

            chat.client.sendMessage = function (id, message) {
                console.log("id: " + id);
                console.log("mesaj: " + message);

                var mesajPrimit = $("<div />", { "class": "col-sm-12", "style": "padding-bottom: 10px" });
                var spanImg = $("<span />", { "class": "pull-left" });
                spanImg.append($("<img />", { "class": "img-thumbnail img-rounded", "style": "height: 40px; width: 40px; border-radius: 20px; padding: 0px;", "src": "http://localhost:15128/Images/chatU.png" }));
                mesajPrimit.append(spanImg);
                mesajPrimit.append(message);

                if ($("#chatBoxes #panel" + id).length === 0) {
                    console.log("nu exista acest chat: " + id);
                    var panel = $("<div />", { "class": "panel panel-primary", "id": "panel" + id });
                    var panelHeader = $("<div />", { "class": "panel-heading" }).append($("<i />", { "class": "fa fa-weixin" })).append($("li[id="+id+"]").html());



                    var panelHeaderbtn = $("<div />", { "class": "btn-group pull-right" });
                    panelHeaderbtn.append($("<button />", { "class": "btn btn-danger btn-xs" }).append($("<i />", { "class": "fa fa-times" })));


                    panelHeader.append(panelHeaderbtn);
                    panel.append(panelHeader);
                    var panelBody = $("<div />", { "class": "panel-body", "style": "overflow: scroll; max-height:300px" });
                    panelBody.append($("<div />", { "class": "row" }));
                    panel.append(panelBody);

                    var form = $("<form />", { "class": "form-inline" });
                    form.append($("<input />", { "class": "form-control input-sm", "type": "text", "placeholder": "Mesajul tau ... ", "size": "400", "id": id }));
                    form.append($("<button />", { "class": "btn btn-success btn-xs", "type": "button", "id": id }).append("Trimite"));


                    panel.append($("<div />", { "class": "panel-footer" }).append(form));
                    $("#chatBoxes").append(panel);
                    $("input[id=" + id + "]").focus();


                }

                $("#panel" + id + " .row").append(mesajPrimit);
            }
            $.connection.hub.start().done(function () {
               
                /*$("button[id=10f757a8-1c4c-4ac3-ae3a-708b717ac930]").click(function () {
                    chat.server.send("10f757a8-1c4c-4ac3-ae3a-708b717ac930", "poate functioneaza");
                    console.log("a apasat butonul");
                });*/
                $.ajax({
                    url: "/Home/FriendsList",
                    method: "POST"
                })
                .done(function (data) {

                    $("#friendsTab").html("");
                    var elem = $("<ul/>", { "class": "list-group" });
                    $.each(data, function (key, value) {
                        friendID.push(value["userId"]);
                        var elemLista = $("<li/>", { "class": "list-group-item", "id": value["userId"] });

                        elemLista.append(value["FullName"]);
                        elem.append(elemLista);
                    });
                    console.log(friendID);
                    $("#friendsTab").append(elem);
                    $("#friendsTab").on("click", "li", function () {

                        var id = $(this).attr("id");
                        if ($("#chatBoxes #panel" + id).length === 0) {
                            console.log("nu exista acest chat: " + id);
                            var panel = $("<div />", { "class": "panel panel-primary", "id": "panel" + id });
                            var panelHeader = $("<div />", { "class": "panel-heading" }).append($("<i />", { "class": "fa fa-weixin" })).append($(this).html());



                            var panelHeaderbtn = $("<div />", { "class": "btn-group pull-right" });
                            panelHeaderbtn.append($("<button />", { "class": "btn btn-danger btn-xs" }).append($("<i />", { "class": "fa fa-times" })));


                            panelHeader.append(panelHeaderbtn);
                            panel.append(panelHeader);
                            var panelBody = $("<div />", { "class": "panel-body", "style": "overflow: scroll; max-height:300px" });
                            panelBody.append($("<div />", { "class": "row" }));
                            panel.append(panelBody);

                            var form = $("<form />", { "class": "form-inline" });
                            form.append($("<input />", { "class": "form-control input-sm", "type": "text", "placeholder": "Mesajul tau ... ", "size": "400", "id": id }));
                            form.append($("<button />", { "class": "btn btn-success btn-xs", "type": "button", "id": id }).append("Trimite"));


                            panel.append($("<div />", { "class": "panel-footer" }).append(form));
                            $("#chatBoxes").append(panel);
                            $("input[id=" + id + "]").focus();


                        } else {
                            console.log("exista deja: " + id);
                        }
                    });
                    $("#chatBoxes").on("click", ".btn-success", function () {
                        
                        var id = $(this).attr("id");
                        var mesaj = $("input[id=" + id + "]").val();
                        $("input[id=" + id + "]").val("").focus();

                        var mesajPrimit = $("<div />", { "class": "col-sm-12", "style": "padding-bottom: 10px" });
                        var spanImg = $("<span />", { "class": "pull-right" });
                        spanImg.append($("<img />", { "class": "img-thumbnail img-rounded", "style": "height: 40px; width: 40px; border-radius: 20px; padding: 0px;", "src": "http://localhost:15128/Images/chatME.png" }));
                        mesajPrimit.append(spanImg);
                        mesajPrimit.append(mesaj);
                        $("#panel" + id + " .row").append(mesajPrimit);

                        chat.server.send(id, mesaj);
                    });
                    $("#chatBoxes").on("click", ".btn-danger", function () {                   
                        $(this).parent().parent().parent().remove();
                    });

                });
               
            });


        });

        
    </script>


}