@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}


<div id='scrollbar' style="position: fixed;top: 0px;height: 2px;right:100%;width: 100%;background-color: #ff6a00;z-index: 3000;"></div>

<div class="row">
    <div class="col-sm-4 ">

        @*<div class="container nav nav-stacked affix" style="padding-top: 10px">
            <div class=" row">
                <div class="col-lg-5 col-md-4 col-sm-8 col-xs-9 bhoechie-tab-container">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                        <div class="list-group">
                            <a href="#" class="list-group-item active text-center">
                                <h4 class="glyphicon glyphicon-envelope"></h4><br/>Inbox
                            </a>
                            <a href="#" class="list-group-item text-center">
                                <i class="fa fa-user" style="font-size: 30px;"></i><br/>Friend Requests
                            </a>
                            <a href="#" class="list-group-item text-center">
                                <h4 class="glyphicon glyphicon-home"></h4><br/>Home
                            </a>
                            <a href="#" class="list-group-item text-center">
                                <h4 class="glyphicon glyphicon-cutlery"></h4><br/>Something
                            </a>
                            <a href="#" class="list-group-item text-center">
                                <h4 class="glyphicon glyphicon-cog"></h4><br/>Settings
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                        <!-- inbox -->
                        <div class="bhoechie-tab-content active">
                            <center>
                                <h1 class="glyphicon glyphicon-envelope" style="font-size: 14em; color: #55518a"></h1>
                                <h2 style="margin-top: 0; color: #55518a">Cooming Soon</h2>
                                <h3 style="margin-top: 0; color: #55518a">Inbox</h3>
                            </center>
                        </div>
                        <!-- Friend Requests -->
                        <div class="bhoechie-tab-content" id="friendReqTab">
                            <center>
                                <h1 class="glyphicon glyphicon-road" style="font-size: 12em; color: #55518a"></h1>
                                <h2 style="margin-top: 0; color: #55518a">Cooming Soon</h2>
                                <h3 style="margin-top: 0; color: #55518a">Friend Requests</h3>
                            </center>
                        </div>

                        <!-- Games -->
                        <div class="bhoechie-tab-content">
                            <center>
                                <h1 class="glyphicon glyphicon-home" style="font-size: 12em; color: #55518a"></h1>
                                <h2 style="margin-top: 0; color: #55518a">Cooming Soon</h2>
                                <h3 style="margin-top: 0; color: #55518a">Hotel Directory</h3>
                            </center>
                        </div>
                        <div class="bhoechie-tab-content">
                            <center>
                                <h1 class="glyphicon glyphicon-cutlery" style="font-size: 12em; color: #55518a"></h1>
                                <h2 style="margin-top: 0; color: #55518a">Cooming Soon</h2>
                                <h3 style="margin-top: 0; color: #55518a">Restaurant Diirectory</h3>
                            </center>
                        </div>
                        <div class="bhoechie-tab-content">
                            <center>
                                <h1 class="glyphicon glyphicon-cog" style="font-size: 12em; color: #55518a"></h1>
                                <h2 style="margin-top: 0; color: #55518a">Cooming Soon</h2>
                                <h3 style="margin-top: 0; color: #55518a">Credit Card</h3>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    </div>
    <div class="col-md-4">

        <div role="tabpanel">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#post" aria-controls="post" role="tab" data-toggle="tab">New post</a></li>
                <li role="presentation"><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">New photo</a></li>
                <li role="presentation"><a href="#file" aria-controls="file" role="tab" data-toggle="tab">New file</a></li>

            </ul>


            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="post">
                    @Html.Partial("AddPost")
                </div>
                <div role="tabpanel" class="tab-pane" id="photo">
                    Gigel poate e pe camp
                </div>
                <div role="tabpanel" class="tab-pane" id="file">
                    Gigel nu e pe camp
                </div>

            </div>

        </div>
        @*@Html.Partial("Post", Model, new ViewDataDictionary(ViewData)
        {
            TemplateInfo = new System.Web.Mvc.TemplateInfo
            {
                HtmlFieldPrefix = "Post"
            }
        })*@
        @Html.Action("Post", "Home")

    </div>

    <div class="col-sm-2 col-sm-offset-1">

    </div>
</div>
  

@section Scripts{
    <script type="text/javascript">
        $(function() {
            $('#myTab a').click(function(e) {
                e.preventDefault()
                $(this).tab('show')
            })
        });
        $(document).ready(function() {
            $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
                e.preventDefault();

                //dezactivate the active class for the siblings of the new active button 
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active", 500, "easeInCubic");

                //dezactivate the active class for the siblings of the new active button 
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });


        });
        $(window).load(function() {

            $.ajax({
                    url: "/Home/FriendRequests",
                    method: "POST"
                })
                .done(function(data) {

                    $("#friendReqTab").html("");
                    var elem = $("<ul/>", { "class": "list-group" });

                    $.each(data, function(key, value) {

                        var elemLista = $("<li/>", { "class": "list-group-item", "id": value["FutureFriendId"] });
                        elemLista.append("Nume: " + value["FirstName"] + " " + value["SecondName"]);
                        var buttonPlus = $("<button/>", {
                            "type": "button",
                            "class": "btn btn-success btn-xs",
                            "aria-label": "Left Align",
                            "id": value["FutureFriendId"]
                        });
                        var buttonMinus = $("<button/>", {
                            "type": "button",
                            "class": "btn btn-danger btn-xs",
                            "aria-label": "Left Align",
                            "id": value["FutureFriendId"]
                        });
                        var buttonToolbar = $("<div/>", { "class": "btn-toolbar pull-right" });
                        var buttonGroup = $("<div/>", { "class": "btn-group" });
                        var glyphPlus = $("<span/>", { "class": "glyphicon glyphicon-plus", "aria-hidden": true });
                        var glyphMinus = $("<span/>", { "class": "glyphicon glyphicon-minus", "aria-hidden": true });
                        buttonPlus.append(glyphPlus);
                        buttonMinus.append(glyphMinus);
                        buttonGroup.append(buttonPlus).append(buttonMinus);
                        buttonToolbar.append(buttonGroup);
                        elemLista.append(buttonToolbar);
                       
                        
                        elem.append(elemLista);


                    });

                    $("#friendReqTab").append(elem);
                   
                    $("#friendReqTab").on("click", ".btn-success", function () {
                        console.log($(this).attr("id"));
                        var id = $(this).attr("id");
                        $.ajax({
                            url: "/Home/AcceptFriendRequest",
                            method: "POST",
                            data: {
                                "friendId": $(this).attr("id")
                            }
                        }).done(function (data) {

                            $("li[id="+id+"]").fadeOut(500, function() {
                                $("li[id=" + id + "]").remove();
                            });
                        });
                    });
                    $("#friendReqTab").on("click", ".btn-danger", function () {
                        console.log($(this).attr("id"));
                        var id = $(this).attr("id");
                        $.ajax({
                            url: "/Home/RemoveFriendRequest",
                            method: "POST",
                            data: {
                                "friendId": $(this).attr("id")
                            }
                        }).done(function (data) {

                            $("li[id=" + id + "]").fadeOut(500, function () {
                                $("li[id=" + id + "]").remove();
                            });
                        });
                    });



                })
                .fail(function() {
                    console.log("fail pt ajax method");
                });

            $(document).on('scroll', function () {

                console.log('trafalet');

                var height = $(document).height() - $(window).height();

                var current = $(document).scrollTop();

                var percent = current / height * 100;

                //console.log(percent.toString());

                $('#scrollbar').css({
                    right: (100 - percent).toString() + '%'
                });


            });
           

        });
    </script>


}
