@model List<ReteaSocialaMDS.Models.PostViewModel>

@{
    Layout = null;
}

@foreach (var item in Model)
    {
        <div class="panel panel-primary">
            <div class="panel-body">
                @item.PostDate
                <br />
                @item.FirstName

                @item.LastName
                <br />
                @item.PostMessage

            
            </div>
        </div>
    }
