@model IEnumerable<ReteaSocialaMDS.Models.Post>


@if (Model != null) { 

    for (var i = 0; i < Model.Count(); i++)
    {
        <div>
            @Html.TextBoxFor(m => m.ElementAt(i).PostDate)

            @Html.TextBoxFor(m => m.ElementAt(i).User)

            @Html.TextBoxFor(m => m.ElementAt(i).PostMessage)
        </div>
    }
       
}
   


